.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#Resume {
  background-color: #e2edff;
}
#Project {
  background-color: #ffffff;
}
#contact {
  background-color: #e2edff;
}
#Desain {
  background-color: #e2edff;
}
#Gallery {
  background-color: #ffffff;
}
